.header {
background-color: rgb(100, 100, 100);
display:flex;
columns: auto auto auto auto;
justify-content: space-around;
}
.bodyBackground{
background-color: rgb(182, 182, 182);

}
#hLink1{
background-color:rgb(255, 0, 170);
}
#hLink2{
background-color: rgb(0, 255, 221);
}
#hLink3{
background-color:rgb(30, 255, 0);
}